@import "src/app/scss/variables.scss";

table {
  thead {
    tr {
      height: 5rem;
    }
    th {
      color: $light;
      padding: 0 0 0 1rem;
      cursor: pointer;

      &.desc::after,
      &.asc::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 8px;
        height: 8px;
        margin-left: 8px;
        margin-top: 2px;
        box-sizing: border-box;
        border-right: 1px solid $sort-arrow;
        border-bottom: 1px solid $sort-arrow;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
      }

      &.desc::after {
        transform: rotate(45deg);
      }
      &.asc::after {
        margin-top: 8px;
        transform: rotate(-135deg);
      }
    }
  }
  td {
    color: $medium;
    padding: 0 0 0 1rem;
    &:nth-child(3n) {
      border-right: 1px solid $light;
    }
    &.dark {
      color: $dark;
    }
  }
  tr:last-child {
    align-items: center;
    td {
      color: $dark;
    }
  }
}
