<table aria-describedby="table" class="table table-borderless">
  <thead>
    <tr class="row">
      <th
        *ngFor="let column of columns"
        [id]="column.headerDef"
        [ngClass]="[
          getSortClass(column.headerDef),
          getColumnWidthClass(column.columnWidth),
          column.columnTextAlign
            ? getColumnTextAlignClass(column.columnTextAlign, true)
            : '',
          getColumnColorClass(column.columnColor)
        ]"
        (click)="changeOrder(column.headerDef)"
        [innerHtml]="column.cellDef | uppercase"
      ></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="firstItem">
      <tr class="row">
        <td
          *ngFor="let column of columns"
          [ngClass]="[
            getColumnWidthClass(column.columnWidth),
            column.columnTextAlign
              ? getColumnTextAlignClass(column.columnTextAlign)
              : '',
            getColumnColorClass(column.columnColor)
          ]"
        >
          <app-table-item [column]="column" [item]="firstItem"></app-table-item>
        </td>
      </tr>
      <br />
    </ng-container>
    <tr *ngFor="let item of dataSource" class="row">
      <td
        *ngFor="let column of columns"
        [ngClass]="[
          getColumnWidthClass(column.columnWidth),
          column.columnTextAlign
            ? getColumnTextAlignClass(column.columnTextAlign)
            : '',
          getColumnColorClass(column.columnColor)
        ]"
      >
        <app-table-item [column]="column" [item]="item"></app-table-item>
      </td>
    </tr>
    <ng-container *ngIf="lastItem">
      <br />
      <tr class="row">
        <td
          *ngFor="let column of columns"
          [ngClass]="[
            getColumnWidthClass(column.columnWidth),
            column.columnTextAlign
              ? getColumnTextAlignClass(column.columnTextAlign)
              : '',
            getColumnColorClass(column.columnColor)
          ]"
        >
          <app-table-item [column]="column" [item]="lastItem"></app-table-item>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
