<ng-container [ngSwitch]="column.columnType">
  <div *ngSwitchCase="'number'" class="number-type">
    {{
      column.noZeroOrEmpty && item[column.headerDef] === 0
        ? "-"
        : (item[column.headerDef] | number: "0.0-1")
    }}
  </div>
  <div *ngSwitchCase="'percentage'">
    {{
      column.noZeroOrEmpty && item[column.headerDef] === 0
        ? "-"
        : (item[column.headerDef] | number: "1.0-0")
    }}%
  </div>
  <div *ngSwitchDefault class="string-type">
    {{
      column.noZeroOrEmpty && item[column.headerDef] === ""
        ? "-"
        : item[column.headerDef]
    }}
  </div>
</ng-container>
