$primary: #3aadf6;
$secondary: #00ba48;
$lighter: white;
$light: lightgray;
$medium: #666666;
$dark: #333333;
$danger: #d60000;

// Commons variables
$default-font-size: 12px;

// table
$sort-arrow: #999999;


