<section class="container">
  <h1>{{ "labourStats.title" | translate }}</h1>
  <app-table
    [dataSource]="data.providers"
    [columns]="columns"
    [firstItem]="data.directContractors"
    [lastItem]="data.total"
    (sort)="onSort($event)"
    *ngIf="data"
  ></app-table>
</section>
